<div class="content-section introduction">
    <div>
        <span class="feature-title">TreeTable</span>
        <span>Columns can be grouped using rowspan and colspan properties.</span>
    </div>
</div>

<!-- style="height: calc(90vh - 10px)" -->
<div class="page-content">

    <!--     <p-table #recTable [columns]="reccols" [scrollable]="true" scrollHeight="flex" [value]="recdata">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-o" (click)="recTable.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-filter" (click)="recTable.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width: 200px;" />
            </colgroup>
            <colgroup>
                <col *ngFor="let col of reccols" style="width: 60px;" />
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: start;">Student</th>
                <th *ngFor="let col of reccols" style="padding-top: 0.571em; overflow: visible;">
                    <div class="th-vertical">
                        {{col.time | amDateFormat: 'dd D. MMM'}}
                        <br>
                        <span *ngIf="col.period" class="sub-header">{{col.period}}. Stunde</span>
                        <span *ngIf="!col.period" class="sub-header">um {{col.time | amDateFormat: 'h:mm'}}</span>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{row.fullname}}</td>
                <td pEditableColumn *ngFor="let col of reccols" style="text-align: center; vertical-align: middle;">
                    <grade-editor [value]="row[col.field]" (valueChange)="gradeChange(col.id, row.student, $event)">
                    </grade-editor>
                </td>
            </tr>
        </ng-template>
    </p-table> -->


    <p-table #recTable [columns]="reccols2" [scrollable]="true" scrollHeight="flex" [value]="recdata2">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width: 140px;" />
            </colgroup>
            <colgroup>
                <col *ngFor="let col of reccols2" style="width: 45px;" />
            </colgroup> 
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: start;">Stunde</th>
                <th *ngFor="let col of reccols2" style="padding-top: 0.571em; overflow: visible;">
                    <div class="th-vertical">
                        {{col.name}}
                        <br>
                        <!-- <span *ngIf="col.period" class="sub-header">{{col.period}}. Stunde</span>
                        <span *ngIf="!col.period" class="sub-header">um {{col.time | amDateFormat: 'h:mm'}}</span> -->
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>
                    <span>{{row.time | amLocale: 'de' | amDateFormat: 'dd., D. MMM'}}</span>
                    <span *ngIf="row.period"> {{row.period}}. Stunde</span>
                    <span *ngIf="!row.period"> um {{row.time | amLocale: 'de' | amDateFormat: 'H:mm'}}</span>
                    <span *ngIf="row.journal" class="sub-header"><br>{{truncate(row.journal, 41)}}</span>
                </td>
                <td pEditableColumn *ngFor="let col of reccols2" style="text-align: center; vertical-align: middle;">
                    <!-- {{row.records[col.id]?.id}} -->
                    <grade-editor [value]="row.records[col.id]" (valueChange)="gradeChange(row.id, col.id, $event)">
                    </grade-editor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-row>
            <tr>
                <td>
                    Statistik
                </td>
                <td *ngFor="let col of reccols2">
                    {{statistics[col.id]?.value | number: '1.2-2' || '---'}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div style="margin-bottom: 500px;">
</div>