.content-section {
	// display: block;
	// overflow: hidden;
    // background-color: #f5f7f8;
	// &:first-of-type {
	// 	>div {
	// 		>span {
	// 			line-height: 1.5em;
	// 			&:last-child {
	// 				font-size: 16px;
	// 			}
	// 		}
	// 	}
	// }
	h2 {
		margin-top: 0;
	}
}
.content-section.introduction {
	// background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
	padding: 30px;
	background: linear-gradient(90deg, #ffd3a7, #ffedda);
	//color: #ffffff;
	a {
		color: #ffffff;
		font-weight: 700;
    }
}
.feature-title {
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}

th .th-vertical {
	transform: rotate(180deg);
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	white-space: nowrap;
}

.ui-table-scrollable-body {
	overflow: visible;
}

.time-if-journal {
	font-size: x-small; 
	font-weight: normal;
	font-style: italic;
}

.sub-header {
	block-size: fit-content;
	font-weight: normal;
	padding-left: 0.3rem;
	white-space: nowrap; 
	overflow: scroll;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
	padding: 0.35rem;
}

// :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
// 	position: -webkit-sticky;
// 	position: sticky;
// 	top: 269px;
// }

// @media screen and (max-width: 64em) {
// 	:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
// 		top: 99px;
// 	}
// }

.journal-editor .journal-editor-input {
	//color: floralwhite;
	width: 98%;
    border: none;
    font-size: initial;
    background: #f4f4f4;
	//overflow: visible;
}

.journal-editor .journal-editor-input:focus {
	box-shadow: none;
}