<!-- style="height: calc(80vh - 10px)" -->
<div class="page-content">

    <p-contextMenu #cm [model]="context"></p-contextMenu>

    <div *ngIf="service.data | async as file; else loading">

        <div class="content-section introduction">
            <div>
                <span class="feature-title">{{file.name}}</span>
                <span>{{file.type}}</span>
            </div>
        </div>

        <div *ngIf="recdata | async as table" class="content-section implementation">
            <!-- scrollHeight="flex" set scrollHeight to max  -->
            <p-table #recTable [columns]="table.columns" [scrollable]="true" scrollHeight="calc(50vh - 10px)"
                [frozenWidth]="frozenWidth" [value]="table.rows" [(contextMenuSelection)]="selectedRow"
                [contextMenu]="cm" dataKey="id" [resizableColumns]="true" columnResizeMode="expand"
                [reorderableColumns]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <records-sheet-export-pdf></records-sheet-export-pdf>
                    </div>
                </ng-template>
                <ng-template pTemplate="frozencolgroup">
                    <colgroup>
                        <!-- <col style="width: 3rem" /> -->
                        <col style="width: 100%;" />
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col *ngFor="let col of table.columns" style="width: 17px;" />
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="frozenheader">
                    <!-- style="height: 200px;" -->
                    <tr #frozenHeaderRow>
                        <!-- <th></th> -->
                        <th pResizableColumn style="text-align: start;" class="th-vertical">Stunde</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <!-- style="height: 200px;" -->
                    <tr #scrollableHeaderRow>
                        <th *ngFor="let col of table.columns" style="overflow: visible; vertical-align: bottom;">
                            <div class="th-vertical">
                                {{col.name}}
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <!-- let-expanded="expanded" let-editing="editing" row expansion not supported with frozen columns -->
                <ng-template pTemplate="frozenbody" let-row>
                    <tr #frozenRow>
                        <!--                         <td>
                            <button type="button" pButton pRipple [pRowToggler]="row"
                                class="p-button p-component p-button-icon-only p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                            </button>
                        </td> -->
                        <td pEditableColumn class="journal-editor">
                            <ng-template #rowText>
                                <span>{{row.time | amLocale: 'de' | amDateFormat: 'dd., D. MMM'}}</span>
                                <span *ngIf="row.period">, {{row.period}}. Stunde</span>
                                <span *ngIf="!row.period"> um {{row.time | amLocale: 'de' | amDateFormat:
                                    'H:mm'}}</span>
                            </ng-template>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <div class="time-if-journal">
                                        <ng-container [ngTemplateOutlet]="rowText"></ng-container>
                                    </div>
                                    <textarea #journalEditorInput pInputTextarea type="text" [value]="row.journal || ''"
                                        placeholder="Thema" class="journal-editor-input"
                                        (keydown.enter)="journalChange(row, journalEditorInput.value)"
                                        (blur)="journalChange(row, journalEditorInput.value)"
                                        (ngSubmit)="journalChange(row, journalEditorInput.value)"
                                        style="margin-top: 3px;">
                                    </textarea>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div [class]="row.journal ? 'time-if-journal' : ''">
                                        <ng-container [ngTemplateOutlet]="rowText"></ng-container>
                                    </div>
                                    <div *ngIf="row.journal" style="margin-top: 3px;">
                                        <span class="sub-header">{{truncate(row.journal, 41)}}</span>
                                    </div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr #scrollableRow [pContextMenuRow]="row">
                        <td pEditableColumn *ngFor="let col of table.columns"
                            style="text-align: center; vertical-align: middle;">
                            <!-- {{row.records[col.id]?.id}} -->
                            <grade-editor [value]="row.records[col.id]"
                                (valueChange)="gradeChange(row.id, col.id, $event)">
                            </grade-editor>
                        </td>
                    </tr>
                </ng-template>
                <!--                 <ng-template pTemplate="rowexpansion" let-row>
                    <tr>
                        <td></td>
                        <td colspan="8">
                            <div class="p-p-3">
                                dsfasdfasdf
                            </div>
                        </td>
                    </tr>
                </ng-template> -->
                <ng-template pTemplate="frozenfooter" let-row>
                    <tr #scrollableFooter>
                        <td>
                            Bewertungen
                        </td>
                    </tr>
                    <tr #scrollableFooter>
                        <td>
                            Wert
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-row>
                    <tr #scrollableFooter>
                        <td *ngFor="let col of table.columns" style="text-align: center; vertical-align: middle;">
                            {{(statistics[col.id]?.count | number: '1.0-2') || 0}}
                        </td>
                    </tr>
                    <tr #scrollableFooter>
                        <td *ngFor="let col of table.columns" style="text-align: center; vertical-align: middle;">
                            {{(statistics[col.id]?.value | number: '1.2-2') || '---'}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <ng-template #loading>Lädt...</ng-template>
</div>