<!--     <p-treeTableCellEditor *ngIf="treeTable">
        <ng-template pTemplate="input">
            <span class="not-editable" *ngIf="!value?.editable || true">
                {{currentItem?.label || value?.id || '---'}}
            </span>*ngIf="value?.editable" 
            <p-dropdown  [options]="grades" [(ngModel)]="current" [style]="{'width': '100%'}"></p-dropdown>
        </ng-template>
        <ng-template pTemplate="output">
            <span>
                {{currentItem?.label || value?.id || '---'}}
            </span>
        </ng-template>
    </p-treeTableCellEditor> -->
<p-cellEditor *ngIf="value?.editable" class="table-grade-editor" [class]="currentItem?.style">
    <ng-template pTemplate="input">
        <!-- <p-dropdown [options]="grades" [(ngModel)]="current" appendTo="body"></p-dropdown> -->
        <!-- Append-to need to make all drop down list visible https://stackoverflow.com/questions/54346512/dropdown-values-hidden-inside-scrollable-table-header-primeng -->
        <!-- appendTo="body" -->
        <p-dropdown [options]="grades" [(ngModel)]="current">
            <ng-template let-item pTemplate="selectedItem">
                <mat-icon *ngIf="item.icon" svgIcon="{{item.icon}}">
                </mat-icon>
                <span style="display: inline-flex;" *ngIf="!item.icon">
                    {{item.label}}
                </span>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <!-- style="transform: scale(0.7); -->
                <mat-icon *ngIf="item.icon" svgIcon="{{item.icon}}">
                </mat-icon>
                <span>
                    {{item?.label || '---' }}
                </span>
            </ng-template>
        </p-dropdown>
    </ng-template>
    <ng-template pTemplate="output">
        <mat-icon *ngIf="currentItem?.icon" svgIcon="{{currentItem.icon}}">
        </mat-icon>
        <span *ngIf="!currentItem?.icon">
            {{currentItem?.label || (value?.id | displayGrade) || '---'}}
        </span>
    </ng-template>
</p-cellEditor>
<span *ngIf="!value?.editable" class="not-editable">
    {{currentItem?.label || (value?.id | displayGrade) || '---'}}
</span>